<header>
    <nav class="top-nav">
     <a href="mailto:hello@buurtcampusoost.nl">hello@buurtcampusoost.nl</a>
     <a href="tel:0612345670">0612345670</a>
     <a href="#">OBA</a>
    </nav>
    <nav class="main-nav">
   <a href="/" ><img src="/assets/PlantSwap-logo.png" alt="plant Swap" width="200" height="100"></a> 
   <div class="main-nav_list-mobiel">
     <a href="#" class="main-nav_list-mobiel_hamburger">
     <svg width="71" height="63" viewBox="0 0 71 63" fill="none" xmlns="http://www.w3.org/2000/svg" title="hamburger menu">
       <path d="M37 49C37 49 35.875 43.1765 28 38" stroke="black" stroke-width="1.79102" stroke-linecap="round" stroke-linejoin="round"/>
       <path d="M20.5771 30.4993L20.0298 36.1823C19.6855 39.7589 22.3671 42.9435 25.9437 43.2878C30.5 43.2878 32.6322 41.0605 32.9702 37.5511C33.3081 34.0417 30.7371 30.9229 27.2277 30.5849L21.1796 30.0026C20.8761 29.9733 20.6062 30.1958 20.5771 30.4993Z" stroke="black" stroke-width="1.79102" stroke-linecap="round" stroke-linejoin="round"/>
       <path d="M37.2588 48.9232C37.2588 48.9232 37.719 44.7814 40.9404 41.0998" stroke="black" stroke-width="1.79102" stroke-linecap="round" stroke-linejoin="round"/>
       <path d="M48.4229 33.4993L48.9702 39.1823C49.3145 42.7589 46.6329 45.9435 43.0563 46.2878C39.5469 46.6258 36.3678 44.0605 36.0298 40.5511C35.6919 37.0417 38.2629 33.9229 41.7723 33.5849L47.8204 33.0026C48.1239 32.9733 48.3938 33.1958 48.4229 33.4993Z" stroke="black" stroke-width="1.79102" stroke-linecap="round" stroke-linejoin="round"/>
       <path d="M1 21.8767L35.1618 1L69.3236 21.8767" stroke="black" stroke-width="1.40539" stroke-linecap="round" stroke-linejoin="round"/>
       <path d="M61.7321 35.1618V59.4546C61.7321 60.7125 60.7125 61.7321 59.4546 61.7321H10.869C9.61116 61.7321 8.59151 60.7125 8.59151 59.4546V35.1618" stroke="black" stroke-width="1.40539" stroke-linecap="round" stroke-linejoin="round"/>
       </svg></a>
     <div class="main-nav_list">
     <a href="/">Home</a>
     <a href="#">About Us</a>
     <a href="/stekjes" class="main-nav_list-stekjes">Stekjes</a>
     <a href="#">News</a>
     <a href="#">Netwerk</a>
     <a href="#">Contact</a>
   </div>
   </div>
    </nav>
   </header>