<%- include('./partials/head.ejs') %>
<section class="stekje-aanmelden-form">
    <h1 class="stekje-aanmelden-form_h1">Stekje toevoegen:</h1>
    <form action="/action_page.php">
        <label for="voornaam">Voornaam *</label>
        <input type="text" id="voornaam" name="Voornaam" required>
    
        <label for="achternaam">Achternaam *</label>
        <input type="text" id="achternaam" name="Achternaam" required>

        <label for="email">E-mail *</label>
        <input type="email" id="email" name="Email" required>
    
        <label for="telefoonnummer">Telefoonnummer</label>
        <input type="tel" id="telefoonnummer" name="Telefoonnummer">

        <label for="Stekjenaam">Naam van uw stekje *</label>
        <input type="text" id="stekje-naam" name="stekje-naam" required>

        <label for="subject">Verzorging informatie</label>
        <textarea id="subject" name="subject" style="height:150px" ></textarea>

        <label for="stekje-img">Upload een foto van uw stekje *</label>
        <input type="file" id="stekje-img" name="stekje-img" accept="image/png, image/jpeg" required>
    
        <input type="submit" value="Stekje aanmelden">
      </form>
      <img class="plant-img-form" src="assets/plant-stem.png" alt="plant-stem">
</section>
<%- include('./partials/foot.ejs') %> x